.marginzero {
    margin: 0;
}

.ultrabold { font-weight: 900; }

.news-header { 
    margin: 0; 
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 30px;
}

.paragraph { line-height: 24px; }

.page {
    background-color: #EEEEEE;
    color: #162136;
    font-family: "Roboto", sans-serif;
}

.main_info {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    height: 64px;
    margin: 0;
    text-align: left;
}

.data {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #687082;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.head{
    background-color: white;
    height: 80px;
    box-shadow: 0px 1px 2px 0px #16213629;
    justify-content: center;
}

.head-content_logo {
    width: 170px;
    height: 34px;
    padding: 22px 0px 0px 0px;
}

.head-content_text {
    justify-content: space-between;
    width: 845px;
    padding: 35px 120px 0px 0px;
    height: 20px;
    font-weight: 500;
    font-size: 14px;
}

.head-content {
    justify-content: space-between;
    width: 1312px;
    height: 80px;
    background-color: white;
    vertical-align: top;
    padding: 0px 64px 0px 60px;
}

.head-content_buttons { 
    padding-top: 30px; 
    width: 80px;
    justify-content: space-between;
}

.head-content_button-img {
    width: 24px;
    height: 24px;
}

.main {
    margin: auto;
    width: 1312px;
    padding-top: 45px;
}
.main-frame{
    justify-content: space-between;
    padding-bottom: 110px;
}
.frame-text{
    width: 640px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.main-frame_wallet {
    padding: 20px 2px 0px 0px;
}

.offers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.offers-frame{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.offers_text {
    padding-bottom: 8px;
}

.cards {
    justify-content: space-between;
    width: 1312px;
}
.card {
    max-width: 304px;
    border-radius: 16px;
    background: #FFFFFF;
    box-shadow: 1px 9px 10px 5px rgba(0,0,0,0.1);
    -webkit-box-shadow: 1px 9px 10px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 9px 10px 5px rgba(0,0,0,0.1);
    padding: 32px 32px 32px 32px;
    text-align: center;
}
.card_label{
    justify-content: space-between;
    border-bottom: 0.5px solid rgba(220, 220, 220, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 14px;
    padding-bottom: 18px;
    text-align: right;
}
.offer-param{
    justify-content: space-between;
    height: 32px;
    margin-bottom: 12px;
}
.offer-param_text{
    color: #687082;
    font-size: 14px;
    font-weight: 400;
    padding-top: 4px;
}
.offer-param_value{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: right;
}
.offer-param_percent{
    font-size: 24px;
}
.card_button {
    background: #039BE5;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    width: 240px;
    max-height: 48px;
    border-radius: 8px;
    margin-top: 20px;
    padding: 10px 0px 10px 0px;
    vertical-align: middle;
    transition-property: background;
    transition-duration: 0.35s;
}

.card_button:hover{
    background: #039c69;
}

.news-block{
    font-size: 32px;
    font-weight: 500;
    text-align: left;
    box-shadow: 0px 1px 8px 0px #1621360D;
}

.news {
    justify-content: space-around;
    background: white;
    max-width: 1312px;
    border-radius: 20px;
    padding: 52px 16px 52px 16px;
}

.news-item {
    display: flex;
    flex-direction: column;
}

.news-item-main { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    border-bottom: 0.5px solid rgba(220, 220, 220, 0.5);
    padding-bottom: 30px;
}

.news-item-main_img{
    width: 394px;
    height: 250px;
}

.news-item-sub { 
    height: 121px;
    border-bottom: 0.5px solid rgba(220, 220, 220, 0.5);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.footer{
    height: 80px;
    background-color: #EBF5FF;
    vertical-align: top;
    margin-top: 64px;
    justify-content: center;
}
.footer-center{
    justify-content: space-between;
    vertical-align: bottom;
    text-align: center;
    height: 24px;
    width: 1312px;
    margin-top: 30px;
}
.footer-text{
    color: #687082;
    vertical-align: bottom;
    justify-content: space-around;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.5px;
    text-align: left;
    width: 600px;
}
.footer-text_item { margin-right: 2px; }
.footer-buttons{
    justify-content: space-between;
    vertical-align: middle;
    height: 24px;
    margin-right: -12px;
}
.footer-buttons_item { margin-right: 32px; }
